body {
  font: 19px/23px Montserrat, sans-serif;
}

body {
  background-color: #171c28;
  color: #ffffff;
  margin: 0 30px;
}

main {
  margin: 0 30px;
}

header.header-website {
  height: 75px;
  margin-bottom: 15px;
}

.section-display {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-display.right-text-content {
    flex-direction: row-reverse;
  }
  .section-display.right-text-content .illustration {
    padding-right: 5rem;
  }
  .section-display.left-text-content {
    flex-direction: row;
  }
  .section-display.left-text-content .illustration {
    padding-left: 5rem;
  }
}
.section-display .text-content {
  flex: 1;
}
.section-display .text-content .title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .title {
    font-size: 70px;
  }
}
.section-display .text-content .paragraph {
  font-size: 15px;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .paragraph {
    font-size: 30px;
  }
}
.section-display .illustration {
  flex: 1;
  margin-top: 50px;
}
.section-display .illustration img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.competences-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .competences-icons {
    font-size: 3rem;
  }
}
.competences-icons i {
  transition: all 0.3s ease;
}
.competences-icons i:hover {
  color: #aaa5ff;
  scale: 1.2;
  cursor: pointer;
}

.btn {
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px;
  transition: all ease 0.3s;
}
.btn:hover {
  transform: scale(1.04);
}
.btn.btn-primary {
  background-color: #55198b;
  border-color: #200935;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #6f21b6;
  color: #ffffff;
}
.btn.btn-secondary {
  background-color: #aaa5ff;
  border-color: #4a3fff;
  color: #171c28;
}
.btn.btn-secondary:hover {
  background-color: #dad8ff;
  color: #171c28;
}
.btn.btn-gray {
  background-color: #868e96;
  border-color: #555b61;
  color: #171c28;
}
.btn.btn-gray:hover {
  background-color: #a1a8ae;
  color: #171c28;
}
.btn.btn-lightgray {
  background-color: #f3efef;
  border-color: #c7b5b5;
  color: #171c28;
}
.btn.btn-lightgray:hover {
  background-color: white;
  color: #171c28;
}
.btn.btn-dark {
  background-color: #171c28;
  border-color: black;
  color: #ffffff;
}
.btn.btn-dark:hover {
  background-color: #2a3348;
  color: #ffffff;
}
.btn.btn-white {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #171c28;
}
.btn.btn-white:hover {
  background-color: white;
  color: #171c28;
}

.animate-fusee {
  transition: all 1s ease;
  display: inline-block;
}
.animate-fusee:hover {
  animation: moveFusee 2s;
}

@keyframes moveFusee {
  0% {
    transform: translateX(0) translateY(0);
  }
  10% {
    transform: translateX(-1px) translateY(1px);
  }
  20% {
    transform: translateX(1px) translateY(-1px);
  }
  30% {
    transform: translateX(-1px) translateY(1px);
  }
  40% {
    transform: translateX(1px) translateY(-1px);
  }
  50% {
    transform: translateX(-1px) translateY(1px);
  }
  60% {
    transform: translateX(1px) translateY(-1px);
  }
  70% {
    transform: translateX(-1px) translateY(1px);
  }
  100% {
    transform: translate(1500px, -1500px);
  }
}/*# sourceMappingURL=main.css.map */