.header-website {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $dark;
  padding: 10px;
  .navbar {
    @include justify-between;
    padding-top: 10px;
    padding-bottom: 10px;
    .menu {
      .menu-input {
        display: none;

        &:checked ~ .dropdown-menu {
          max-height: 100vh;
        }
      }
      @media screen and (min-width: 768px) {
        .menu-input-label {
          display: none;
        }
      }
      .dropdown-menu {
        transition: max-height 1s ease-out;
        max-height: 0;
        background-color: $dark;
        position: absolute;
        left: 0;
        overflow: hidden;
        width: 100%;
        top: 100%;
        .nav-links {
          padding: 15px;
          cursor: pointer;
          .nav-link {
            display: block;
            padding: 10px;
            a {
              text-decoration: none;
              color: $white;
              transition: all ease-out 0.7s;
              &:hover {
                color: $secondary;
              }
            }
          }
        }

        @media screen and (min-width: 768px) {
          max-height: 100vh;
          position: relative;
          .nav-links {
            display: flex;
            justify-content: space-between;
            padding: 0;
          }
        }
      }
    }
  }
}
